services:
  db:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: bash -c "bash /app/bin/release.sh && uv run python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/django_db
      # Django settings
      DEBUG: "True"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  tailwind:
    build: .
    command: uv run tailwindcss -i static/css/.tailwind.css -o static/css/generated.tailwind.css --watch
    volumes:
      - .:/app
    restart: unless-stopped
    tty: true

volumes:
  postgres_data:
